@import 'mixins';
@import 'variables';

body {
  background-color: $off-white-color;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body,
html,
#root,
.app-main {
  height: 100%;
}

footer,
header {
  flex-grow: 0;
}

header {
  border-bottom: 1px solid $gray-color-light;
}

footer {
  border-top: 1px solid $gray-color-light;
  font-size: 80%;
  a {
    margin: 0 15px;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.margin-bottom-small {
  margin-bottom: $small;
}
