@import 'mixins';
@import 'variables';

body {
  background-color: whitesmoke;
  margin: 0;
}

html {
  box-sizing: border-box;
}

footer,
header {
  flex-grow: 0;
}

header {
  border-bottom: 1px solid $gray-color-light;
}

footer {
  border-top: 1px solid $gray-color-light;
  font-size: 80%;
  a {
    margin-right: 15px;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
