@import 'mixins';

body {
  margin: 0;
  background-color: whitesmoke;
}

html {
  box-sizing: border-box;
}

footer,
header {
  flex-grow: 0;
}

main {
  flex-grow: 1;
}

.center-mobile {
  @include phone-breakpoint {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
