@import '/src/static/scss/variables';

.code-box {
  margin: 10px 0;

  pre {
    border-radius: 3px;
  }
}

.image-cropper {
  border-radius: 50%;
  height: 230px;
  overflow: hidden;
  position: relative;
  width: 230px;

  img {
    display: inline;
    height: 100%;
    margin: 0 auto;
    width: auto;
  }
}

.nav-list {
  margin: 0;
  width: 100%;

  .nav-list__item {
    &::after {
      content: '';
      display: block;
    }

    .nav-list__link {
      align-items: center;
      border-bottom: 1px solid $gray-color-light;
      display: flex;
      padding: 1rem;
      transition-duration: 150ms;

      &:hover {
        background-color: #e2f3fd;
      }

      svg {
        margin-right: 10px;

        path {
          stroke: $link-color;
        }
      }

      &:focus-visible {
        background-color: #eee2f0;
      }
    }
  }
}

.alert-message {
  svg {
    vertical-align: text-bottom;
    margin-right: 5px;
  }
}
