@import '/src/static/scss/variables';

.code-box {
  margin: 10px 0;

  pre {
    border-radius: 3px;
  }
}

.image-cropper {
  border-radius: 50%;
  height: 230px;
  overflow: hidden;
  position: relative;
  width: 230px;

  img {
    display: inline;
    height: 100%;
    margin: 0 auto;
    width: auto;
  }
}

.nav-list {
  margin: 0;
  width: 100%;

  .nav-list__item {
    &::after {
      content: '';
      border-bottom: 1px solid #ddd;
      display: block;
    }

    .nav-list__link {
      align-items: center;
      display: flex;
      padding: 1rem;

      &:hover {
        background-color: #e2ebf0;
      }

      svg {
        margin-right: 10px;

        path {
          stroke: $link-color;
        }
      }

      &:focus-visible {
        background-color: #eee2f0;
      }
    }
  }
}

.main-nav {
  a {
    border-radius: $border-radius-base;
    padding: 7px;

    &.active {
      color: $dark-color;
      text-decoration: none;
    }
  }
}
