@import '/src/static/scss/variables';

.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.nav-list {
  margin: 0;
  width: 100%;

  .nav-list__item {
    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid #ddd;
    }

    .nav-list__link {
      display: flex;
      padding: 1rem;

      &:hover {
        background-color: #e2ebf0;
      }

      svg {
        margin-right: 10px;
        path {
          stroke: $link-color;
        }
      }

      &:focus-visible {
        background-color: #eee2f0;
      }
    }
  }
}

.main-nav {
  a {
    border-radius: $border-radius-base;
    padding: 7px;
    &.active {
      color: $dark-color;
      text-decoration: none;
    }
  }
}
