@mixin phone-breakpoint {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-breakpoint-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-breakpoint-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
