@import '/src/static/scss/variables';

body {
  color: $dark-color;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
.code {
  font-family: 'Courier New', monospace, source-code-pro, Menlo, Monaco, Consolas;
}

.code,
.code span,
.code span code,
.function-variable {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-color;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 150%;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

a,
.link,
.nav__link {
  border-radius: $border-radius-base;
  color: $link-color;
  cursor: pointer;
}

p {
  line-height: 120%;
  font-size: $font-size-base;
  margin-bottom: 1rem;
}

svg.link {
  path {
    stroke: $link-color !important;
  }
}

.copyright {
  color: $gray-color;
}

.nav__link {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}
