@import '/src/static/scss/variables';

body {
  color: $dark-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
.code {
  font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New';
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-color;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji', sans-serif;
  line-height: 150%;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 500 !important;

  svg {
    line-height: inherit;
    vertical-align: text-bottom;
  }
}

a,
.link,
.nav__link {
  border-radius: $border-radius-base;
  color: $link-color;
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
}

svg.link {
  path {
    stroke: $link-color !important;
  }
}

legend {
  font-size: 120%;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
  font-style: oblique;
}

.nav__link {
  text-transform: lowercase;
}

.paragraph__no-margin {
  margin-bottom: 0;
}

.styled-list {
  li {
    list-style-type: disc;
    margin-left: $large;
    margin-bottom: $small;
  }
}

.uppercase {
  text-transform: uppercase;
}

.message-error {
  color: $error-color;
}
