$border-radius-base: 6px;
$font-size-base: 16px;

$off-white-color: whitesmoke;
$dark-color: #282c34;
$contrast-color: #3465c0;
$error-color: #cc0000;
$focus-color: #006ba8;
$gray-color: #666;
$gray-color-light: #dfdfdf;
$link-color: $focus-color;

$xsmall: 5px;
$small: 10px;
$medium: 15px;
$large: 20px;
