$border-radius-base: 6px;
$font-size-base: 16px;

$off-white-color: whitesmoke;
$dark-color: #282c34;
$contrast-color: #3b4c6c;
$error-color: #cc0000;
$focus-color: rgb(37, 112, 251);
$gray-color: #666;
$gray-color-light: #dfdfdf;
$link-color: cornflowerblue;

$xsmall: 5px;
$small: 10px;
$medium: 15px;
$large: 20px;
