@use 'core/normalize';
@use 'core/reset';
@use 'base';
@use 'components';
@use 'layouts';
@use 'mixins';
@use 'typography';
@import 'variables';

a,
button,
input,
textarea {
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:focus-visible {
    outline: 3px solid $focus-color;
  }
}

a:focus-visible {
  background-color: #eee2f0;
}
