@use 'core/normalize';
@use 'core/reset';
@use 'base';
@use 'components';
@use 'layouts';
@use 'mixins';
@use 'typography';
@import 'variables';

.App-logo {
  height: 10vmin;
  opacity: 0.5;
  pointer-events: none;
  g {
    fill: $contrast-color;
  }
}

a,
button,
input,
textarea {
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:focus-visible {
    outline: 3px solid $focus-color;
  }
}

a {
  color: $focus-color !important;
  cursor: pointer;
  font-weight: normal !important;
  text-decoration: underline !important;
  text-underline-offset: 2px;

  &:focus-visible {
    background-color: #eee2f0;
  }
}

header {
  a {
    color: $off-white-color !important;
    &:hover {
      text-underline-offset: 3px;
      transition-duration: 50ms;
    }
  }
}

.input-group {
  margin: 10px 0 20px 0;

  label {
    display: block;
    margin: 5px 0;
  }
}

input {
  &[type='text'],
  &[type='password'] {
    border: 2px solid $gray-color;
    border-radius: $border-radius-base;
    padding: 10px;
    width: 100%;

    &.form-error {
      border-color: $error-color;
    }
  }
}

.message {
  &-info {
    color: $dark-color;
  }
  &-error {
    color: $error-color;
  }

  &-info,
  &-error {
    display: flex;
    align-items: center;

    svg {
      vertical-align: baseline;
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }
}

.background-white {
  background-color: white;
}

.outlined-thing {
  border: 1px solid $gray-color-light;
  border-radius: $border-radius-base;
}

.padded-thing {
  padding: 20px;

  &-large {
    padding: 30px;
  }
  &-small {
    padding: 15px;
  }
}
